* {
	box-sizing: border-box;
}

body {
	background-image: url('./assets/svg/radiant-gradient.svg');
	background-size: cover;
	margin: 0;
}

div#morse-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

div#morse-container div {
    display: flex;
    height: 60vh;
    justify-content: space-evenly;
    margin-top: 8px;
    width: 100vw;
}

div#morse-container div section#morse-monitor {
	width: 58vw;
	height: 100%;
	background: #181818;
	padding: 1vw;
	color: seagreen;
	font: bold calc(12px + .5vw) monospace;
	border: 2vw solid black;
	box-shadow: 0 32px 24px -16px #000b;
	border-radius: 1vw;
	z-index: 1;
	overflow-y: hidden;
}

div#morse-container section.morse-input {
	width: 100%;
	background: #181818;
	border-bottom: 1vw solid black;
	padding: 2vw;
	position: fixed;
	bottom: 0;
}

div#morse-container section.morse-input input#morse-user-input {
	width: 100%;
	font: bold calc(12px + .5vw) monospace;
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  box-shadow: none;
}

div#morse-container section.morse-input span#morse-user-input-message {
    color: seagreen;
    margin: 8px 0 0;
    display: block;
    font: normal calc(8px + .4vw) monospace;
}

div.error-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.flex-center {
	align-items: center;
}
.flex-right {
	align-items: flex-end;
}

@media screen and (max-width: 768px)
{
	div#morse-container div section#morse-monitor {
		width: 100vw;
	}
	div#morse-container div {
		width: 100vw;
		height: 80vh;
		margin-top: 46px;
		flex-direction:column;
	}
}
